# File Konfigurasi & Hasil (YANG TIDAK PERLU DI-SYNC)
semua_saham_bei.csv
hasil_backtest_semua.csv

# Folder-folder yang diabaikan
/logs/
/_arsip/
/__pycache__/
/.vscode/

# File Biner dan Dependensi
chromedriver.exe
*.whl